
.page-layout {
    display: grid;
    grid-template-areas: 
    "header header"
    "meta desc"
    "ingredients ingredients"
    "instructions instructions"
    "footer .";
    grid-template-columns: 1fr;
    grid-template-rows: 7% 30% 1fr 1fr 7%;
    max-width: 1200px;
   /* min-height: 100vh;
    min-width: none;  KEEP?? */
}

body {
    font-family: 'Lucida Sans', sans-serif;
    background-color: #102542;
    margin: 0;
    padding: 0;
}

.recipe-container {
    background-color: #E8D7F1;
    border: 10px solid #4D318A;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.recipe-header {
    grid-area: header;
    background-color: #E8D7F1;
    grid-template-columns: 1fr 1fr;
}

.recipe-header-flex {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.recipe-image {
    max-width: 100%;
    max-height: 600px;
    border: 5px solid #4D318A;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.recipe-title {
    color: black;
    font-family: 'Brush Script MT';
    font-size: 5rem;
    text-align: center;
}

.description-and-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-meta {
    grid-area: meta;
    grid-template-rows: max-content;
    background-color: #FFDBE3;
    border: 2px dashed #4D318A;
    border-radius: 25px;
    padding: 1em;
    font-size: 1.3rem;
    max-height: fit-content;
    margin-top: 2rem;
    line-height: 120%;
}

.meta-item {
    max-width: 300px;
}
.recipe-description {
    grid-area: desc;
    background-color:#E8D7F1;
    font-size: 1.3rem;
    color: black;
    padding: 2rem;
    max-width: 600px;;
    align-self: center;
}

.ingredients-section {
    grid-area: ingredients;
    background-color: #FFDBE3;
    border: .3rem solid #4D318A;
    border-radius: 25px;
    max-width: 1200px;
    justify-self: center;
    min-width: 5%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.ingredients-title {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
} 
.ingredients-list {
    list-style-position: inside;
    list-style-type: circle;
    line-height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredients-list li {
    background-color: #FFDBE3;
    font-size: 1.1rem;
    margin: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .7rem;
    line-height: 120%;

}

.instructions-section {
    grid-area: instructions;
    background-color: #FFDBE3;
    border: .3rem solid #4D318A;
    border-radius: 25px;
    max-width: 1200px;
    justify-self: center;
    grid-column: span 2;
    margin: 1rem;
}

.instructions-title {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
} 

.instructions-list {
    list-style-position: inside;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: .7rem;
}


.instruction-step {
    border-radius: 5px;
    margin: .3rem;
}

.recipe-footer {
    grid-area: footer;
    background-color: #E8D7F1;
    display: grid;
    justify-self: center;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

* {
    margin: 2px;
    padding: 1px;
}
/* MEDIA QUERY */
@media (max-width: 48rem) {
    .page-layout {
        display: grid;
        grid-template-areas: 
        "header"
        "meta"
        "desc"
        "ingredients"
        "instructions"
        "footer";
        grid-template-columns: 1fr;
        padding: 2px;
    }

    .recipe-container {
        background-color: ;
        border: 10px solid #4D318A;
        border-radius: 25px;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .recipe-title {
        color: black;
        font-family: 'Brush Script MT';
        font-size: 3.5rem;
        text-align: center;
    }

    .ingredients-list {
        list-style-position: inside;
        list-style-type: circle;
        line-height: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .recipe-meta {
        grid-area: meta;
        grid-template-rows: max-content;
        background-color: #FFDBE3;
        border: 2px dashed #4D318A;
        border-radius: 25px;
        padding: 1em;
        font-size: 1.1rem;
        max-height: fit-content;
        margin-top: 2rem;
        line-height: 120%
    }

    .recipe-description {
        grid-area: desc;
        background-color:#E8D7F1;
        font-size: 1.1rem;
        color: black;
        padding: 1rem;
        max-width: 600px;
        align-self: center;
    }

}